<li>
    <div class="collapsible-header employee-list-name">name</div>
    <div class="collapsible-body employee-list-info">
        <strong>Status: </strong><span>status</span><br>
        <strong>Role: </strong><span>role</span><br>
        <strong>Position Type: </strong><span>position type</span><br><br>
        <strong>Availability:</strong><br>
        <span>Monday: </span><span>12-18</span><br>
        <span>Tuesday: </span><span>12-18</span><br>
        <span>Wednesday: </span><span>12-18</span><br>
        <span>Thursday: </span><span>12-18</span><br>
        <span>Friday: </span><span>12-18</span><br>
        <span>Saturday: </span><span>12-18</span><br>
        <span>Sunday: </span><span>12-18</span><br><br>

        <strong>Contact Information</strong><br>
        <span>Address: </span><br>
        <span>Street</span><br>
        <span>City</span><span>State</span><br>
        <span>Zipcode</span><span>Country</span><br><br>
        <span>Email</span><br>
        <span>Phone Number</span><br>
    </div>
</li>