<li>
    <div class="collapsible-header location-list-name">{{ this.FullName }}</div>
    <div class="collapsible-body location-list-info">
        <strong>Status: </strong><span>{{ this.Status}}</span><br>
        <strong>Role: </strong><span>{{ this.Role }}</span><br>
        <strong>Position Type: </strong><span>{{this.PositionType}}</span><br><br>
        <strong>Availability:</strong><br>
        <span>Monday: </span><span>12-18</span><br>
        <span>Tuesday: </span><span>12-18</span><br>
        <span>Wednesday: </span><span>12-18</span><br>
        <span>Thursday: </span><span>12-18</span><br>
        <span>Friday: </span><span>12-18</span><br>
        <span>Saturday: </span><span>12-18</span><br>
        <span>Sunday: </span><span>12-18</span><br><br>

        <strong>Contact Information</strong><br>
        <span>Address: </span><br>
        <span>Street</span><br>
        <span>City</span><span>State</span><br>
        <span>Zipcode</span><span>Country</span><br><br>
        <span>Email</span><br>
        <span>Phone Number</span><br>
    </div>
</li>