<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card white darken-1 padding40 margin100">
                <div class="title center-align blue-grey-text darken-4-text">
                    <h2>
                        Welcome to SchedulEZ
                    </h2>
                    <p>Login or <a href="newStore.handlebars">create an account</a> for your company</p>
                </div>

                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <div class="col s1"> 
                            <i class="material-icons blue-grey-text darken-4-text">person</i> 
                        </div>
                        <div class="col s11">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="input-field col s8 offset-s2">
                        <div class="col s1"> <i class="material-icons blue-grey-text darken-4-text">vpn_key</i> </div>
                        <div class="col s11">

                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                </div>
                <div class="row center-align">
                    <button id="login-btn" class="btn waves-effect blue-grey darken-1 waves-light" type="submit">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/login-register.js" type="text/javascript"></script>