
<ul id="slide-out" class="blue-grey-text darken-4-text sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <h4 class="user-name center">User Name</h4>
            <div class="row center">
                <i class="tooltipped material-icons medium padding40" data-position="right" data-tooltip="View Notification">notifications</i>
            </div>
            <div class="row center">
                <i class="tooltipped material-icons medium padding40" data-position="right" data-tooltip="View Employees">group</i>
            </div>
            <div class="row center">
                <i class="tooltipped material-icons medium padding40" data-position="right" data-tooltip="View Schedule">event</i>
            </div>

</ul>

<div class="container adjusted-container">
    <div class="row">
        <div class="col s12 margin100">
            <div class="card white blue-grey-text darken-4-text padding40">
                <i class="tooltipped right material-icons medium red-text" id="new-employee-btn" data-tooltip="Add a new employee">add_circle</i>

                <h3 class="center">Employees</h3>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header employee-list-name">Paxton Sharp</div>
                        <div class="collapsible-body employee-list-info">
                            <strong>Status: </strong><span>Full-time</span><br>
                            <strong>Role: </strong><span>Back-end</span><br>
                            <strong>Position Type: </strong><span>Temporary</span><br><br>
                            <strong>Availability:</strong><br>
                            <span>Monday: </span><span>12-18</span><br>
                            <span>Tuesday: </span><span>12-18</span><br>
                            <span>Wednesday: </span><span>12-18</span><br>
                            <span>Thursday: </span><span>12-18</span><br>
                            <span>Friday: </span><span>12-18</span><br>
                            <span>Saturday: </span><span>12-18</span><br>
                            <span>Sunday: </span><span>12-18</span><br><br>

                            <strong>Contact Information</strong><br>
                            <span>Address: </span><br>
                            <span>Street</span><br>
                            <span>City</span><span>State</span><br>
                            <span>Zipcode</span><span>Country</span><br><br>
                            <span>Email</span><br>
                            <span>Phone Number</span><br>

                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header employee-list-name">Danielle Burrage</div>
                        <div class="collapsible-body employee-list-info">
                            <strong>Status: </strong><span>Full-time</span><br>
                            <strong>Role: </strong><span>Back-end</span><br>
                            <strong>Position Type: </strong><span>Temporary</span><br><br>
                            <strong>Availability:</strong><br>
                            <span>Monday: </span><span>12-18</span><br>
                            <span>Tuesday: </span><span>12-18</span><br>
                            <span>Wednesday: </span><span>12-18</span><br>
                            <span>Thursday: </span><span>12-18</span><br>
                            <span>Friday: </span><span>12-18</span><br>
                            <span>Saturday: </span><span>12-18</span><br>
                            <span>Sunday: </span><span>12-18</span><br><br>

                            <strong>Contact Information</strong><br>
                            <span>Address: </span><br>
                            <span>Street</span><br>
                            <span>City</span><span>State</span><br>
                            <span>Zipcode</span><span>Country</span><br><br>
                            <span>Email</span><br>
                            <span>Phone Number</span><br>

                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header employee-list-name">Alex Bailey</div>
                        <div class="collapsible-body employee-list-info">
                            <strong>Status: </strong><span>Full-time</span><br>
                            <strong>Role: </strong><span>Back-end</span><br>
                            <strong>Position Type: </strong><span>Temporary</span><br><br>
                            <strong>Availability:</strong><br>
                            <span>Monday: </span><span>12-18</span><br>
                            <span>Tuesday: </span><span>12-18</span><br>
                            <span>Wednesday: </span><span>12-18</span><br>
                            <span>Thursday: </span><span>12-18</span><br>
                            <span>Friday: </span><span>12-18</span><br>
                            <span>Saturday: </span><span>12-18</span><br>
                            <span>Sunday: </span><span>12-18</span><br><br>

                            <strong>Contact Information</strong><br>
                            <span>Address: </span><br>
                            <span>Street</span><br>
                            <span>City</span><span>State</span><br>
                            <span>Zipcode</span><span>Country</span><br><br>
                            <span>Email</span><br>
                            <span>Phone Number</span><br>

                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header employee-list-name">Monica Dixon</div>
                        <div class="collapsible-body employee-list-info">
                            <strong>Status: </strong><span>Full-time</span><br>
                            <strong>Role: </strong><span>Back-end</span><br>
                            <strong>Position Type: </strong><span>Temporary</span><br><br>
                            <strong>Availability:</strong><br>
                            <span>Monday: </span><span>12-18</span><br>
                            <span>Tuesday: </span><span>12-18</span><br>
                            <span>Wednesday: </span><span>12-18</span><br>
                            <span>Thursday: </span><span>12-18</span><br>
                            <span>Friday: </span><span>12-18</span><br>
                            <span>Saturday: </span><span>12-18</span><br>
                            <span>Sunday: </span><span>12-18</span><br><br>

                            <strong>Contact Information</strong><br>
                            <span>Address: </span><br>
                            <span>Street</span><br>
                            <span>City</span><span>State</span><br>
                            <span>Zipcode</span><span>Country</span><br><br>
                            <span>Email</span><br>
                            <span>Phone Number</span><br>

                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>






<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.tooltipped').tooltip();
        $('.collapsible').collapsible();


    });
</script>