<!-- Navigation bar=============== -->
<nav class="blue-grey darken-4">
    <div class="nav-wrapper">
        <span class="adjusted-center"><a href="#!" class="brand-logo">SchedulEZ</a></span>
        <span class="right"><a class="logout-btn btn">Logout</a></span>
    </div>
</nav>

<!-- SIDE BAR (medium and large screens)=============== -->
<ul id="slide-out" class="blue-grey-text text-darken-4 sidenav sidenav-fixed hide-on-small-only">
    <li>
        <div class="user-view">
            <h6 class="center">Manager Dashboard</h6>
            <h4 class="user-name center">User Name</h4>
            <div class="row center">
                <a href="#notifications" id="notifications-btn"><i class="tooltipped material-icons"
                        id="notifications-btn" data-position="right"
                        data-tooltip="View Your Notifications">notifications</i>
                </a>
            </div>
            <div class="row center">
                <a href="#schedule" id="schedule-btn"><i class="tooltipped material-icons medium" id="schedule-btn"
                        data-position="right" data-tooltip="View Schedule">event</i>
                </a>
            </div>
            <div class="row center">
                <a href="#employee-list" id="employees-btn"><i class="tooltipped material-icons medium"
                        id="employees-btn" data-position="right" data-tooltip="View All 
                Employees">group</i>
                </a>
            </div>
            <div class="row center">
                <a href="#locations-list" id="locations-btn"><i class="tooltipped material-icons medium"
                        id="locations-btn" data-position="right" data-tooltip="View All Locations">business</i>
                </a>
            </div>

        </div>
    </li>
</ul>
<!-- SIDE BAR (small screens) ======================================= -->
<div class="small-nav">
    <div class="row">
        <ul class="valign-wrapper">
            <li class="col s3 center">
                <a href="#notifications" id="notifications-btn"><i class="tooltipped material-icons"
                        id="notifications-btn" data-position="right"
                        data-tooltip="View Your Notifications">notifications</i>
                </a>
            </li>
            <li class="col s3 center">
                <a href="#schedule" id="schedule-btn"><i class="tooltipped material-icons" id="schedule-btn"
                        data-position="right" data-tooltip="View Schedule">event</i>
                </a>
            </li>
            <li class="col s3 center">
                <a href="#employee-list" id="employees-btn"><i class="tooltipped material-icons"
                        id="employees-btn" data-position="right" data-tooltip="View All 
                    Employees">group</i>
                </a>
            </li>
            <li class="col s3 center">
                <a href="#locations-list" id="locations-btn"><i class="tooltipped material-icons"
                        id="locations-btn" data-position="right" data-tooltip="View All Locations">business</i>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--GENERAL APP ============================================ -->

<div class="container adjusted-container">
    <div class="row">
        <!--Notifications============================================ -->
        <div class="col s12 margin100" id="notifications">
            <div class="card border padding40">
                <h3 class="center">Notifications</h3>
                <div class="divider"></div>
                <div class="row">
                    <!-- This is where the individual notication starts-->
                    <div class="card s12" id="n-123">
                        <div class="col s3">
                            <form>
                                <p>
                                    <label for="approve">
                                        <input name="n-123" type="radio" id="approve" value="approve" checked />
                                        <span class="notification-radio">Approve</span>
                                    </label>
                                </p>
                                <p>
                                    <label for="decline">
                                        <input name="n-123" type="radio" id="decline" value="decline" />
                                        <span class="notification-radio">Decline</span>
                                    </label>
                                </p>
                                <button class="btn waves-effect waves-light center requests-btn" id="requests"
                                    type="submit" name="action">Submit
                                </button>
                            </form>
                        </div>
                        <div class="col s9">
                            <span class="card-title">Employee Name</span> <span class="card-title">Date
                                Requested</span>
                            <p>This is the body of the request. I would like Christmas off because its a holdiday
                                and I'll be out of town.</p>
                        </div>
                    </div>
                    <div class="divider"></div>

                </div>
            </div>
        </div>
        <!--Employees============================================ -->
        <div class="col s12" id="employee-list">
            <div class="card border padding40">
                <a href="#modal-employees" class="modal-trigger" id="new-employee-btn"><i
                        class="tooltipped right material-icons medium red-text"
                        data-tooltip="Add a new employee">add_circle</i></a>
                {{!-- EMPLOYEES LIST --}}
                <h3 class="center">Employees</h3>
                <ul class="collapsible expandable">
                    {{#each locationEmployees}}
                    {{> employee-block}}
                    {{/each}}
                </ul>
            </div>
            </li>
            </ul>
        </div>
    </div>
    <!--Locations============================================ -->
    <div class="col s12 margin100" id="location-list">
        <div class="card border padding40">
            <a class="modal-trigger" id="new-location-btn" href="#modal-locations">
                <i class=" tooltipped right material-icons medium red-text"
                    data-tooltip="Add a new location">add_circle</i></a>
            <h3 class="center">Locations</h3>
            <ul class="collapsible">
                {{#each editedLocations}}
                {{> location-block}}
                {{/each}}
            </ul>
        </div>
    </div>
    <!--Schedule============================================ -->
    <div class="col s12 margin100" id="schedule">
        <div class="card border padding40">
            <i class="tooltipped right material-icons medium red-text" id="new-schedule-btn"
                data-tooltip="Generate Next Schedule">add_circle</i>
            <h3 class="center">Schedules</h3>
            <div class="padding40 alt-dark-schedules">
                <!-- Modals could be generated dynamically upon create of new schedule, link to modal appears here-->
                <a href="#sched-modal-010220" class="center modal-trigger">1/2/20 - 1/15/20</a><br>
                <a href="#" class="center">1/16/20 - 1//30</a><br>
                <a href="#" class="center">1/31/20 - 2/13/20</a>

            </div>
        </div>
        <div id="new-schedule-section"
            class="scrollspy section card dark border blue-grey-text text-darken-4 padding40">
            <h2 class="center">Generate a New Schedule</h2>

            <div class=" col s8 offest-s2">
                <button id="schedule-start-date" class="btn altdark-mint-btn datepicker">Choose Start Date</button>
                {{!-- <span class="white-text">Choose Start Date</span> <span>
                    <input type="text" class="datepicker">
                </span><br> --}}
                <ul class="collapsible expandable">
                    <li id="add-shifts-dropdown">
                        <div id="add-shift-section"
                            class="collapsible-header altdark-mint-btn availability-select employee-availability-sunday">
                            Add Shifts
                        </div>
                        <div class="collapsible-body employee-sunday-info">
                            <div id="add-shift">
                                <button id="add_shift" class="btn no-background-btn mint"><i
                                        class="tooltipped material-icons" data-tooltip="Add Shift">add_box</i></button>
                                <ul class="collapsible expandable">
                                    {{#each shifts}}
                                    {{> scheduleShift-block}}
                                    {{/each}}
                                </ul>
                            </div>
                    </li>
                </ul>

                <button type="button" id="new-schedule-add-btn" class="btn mint-dark-btn">Add</button>
                <button id="new-schedule-cancel-btn" class="btn mint-dark-btn">Cancel</button>
            </div>
        </div>
    </div>



    <!-- Sample Schedule Table Modal Structure -->
    <div id="sched-modal-010220" class="modal modal-long">
        <div class="modal-content dark border blue-grey-text text-darken-4 ">
            <h2 class="center">Schedule 1/2-1/15</h2>
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th class="date1">1/2</th>
                        <th class="date2">1/3</th>
                        <th class="date3">1/4</th>
                        <th class="date4">1/5</th>
                        <th class="date5">1/6</th>
                        <th class="date6">1/7</th>
                        <th class="date7">1/8</th>
                        <th class="date8">1/9</th>
                        <th class="date9">1/10</th>
                        <th class="date10">1/11</th>
                        <th class="date11">1/12</th>
                        <th class="date12">1/13</th>
                        <th class="date13">1/14</th>
                        <th class="date14">1/15</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Alex</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>x</td>
                        <td>x</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>10:00-16:00</td>
                        <td>10:00-16:00</td>
                        <td>x</td>
                        <td>x</td>
                        <td>12:00-20:00</td>
                        <td>12:00-20:00</td>

                    </tr>
                    <tr>
                        <td>Danielle</td>
                        <td>x</td>
                        <td>x</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>10:00-16:00</td>
                        <td>10:00-16:00</td>
                        <td>12:00-20:00</td>
                        <td>12:00-20:00</td>
                        <td>x</td>
                        <td>x</td>


                    </tr>
                    <tr>
                        <td>Paxton</td>
                        <td>10:00-22:00</td>
                        <td>10:00-22:00</td>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                        <td>10:00-22:00</td>
                        <td>x</td>
                        <td>6:00-12:00</td>
                        <td>6:00-12:00</td>
                        <td>10:00-16:00</td>
                        <td>12:00-20:00</td>
                        <td>12:00-20:00</td>
                        <td>x</td>
                        <td>x</td>

                    </tr>
                    <tr>
                        <td>Monica</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>x</td>
                        <td>x</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>8:00-14:00</td>
                        <td>10:00-16:00</td>
                        <td>10:00-16:00</td>
                        <td>x</td>
                        <td>x</td>
                        <td>12:00-20:00</td>
                        <td>12:00-20:00</td>

                    </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>

    </div>
    {{!-- Sample schedule modal ends --}}

    <!-- LOCATION MODAL STRUCTURE-->
    <div id="modal-locations" class="modal">
        <div class="modal-content blue-grey-text text-darken-4">
            <h2 class="center">Add Locations</h2>
            <form>
                <div class="row">
                    <div class="input-field col s8 offset-s2">
                        <input class="location-street">
                        <label for="location-street">Street Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 offset-s2">
                        <input class="location-city">
                        <label for="location-city">City</label>
                    </div>
                    <div class="input-field col s4 ">
                        <select class="front">
                            <option value="" disabled selected>State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <label>Select State</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4 offset-s2">
                        <input class="location-zipcode">
                        <label for="location-zipcode">Zipcode</label>
                    </div>
                    <div class="input-field col s4">
                        <input class="location-country">
                        <label for="company-country">Country</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 offset-s2">
                        <p>Shifts Start at:</p>
                        <div class="row">
                            <div class="input-field col s6">
                                <select class="start-hour front">
                                    <option value="" disable selected>Hour</option>
                                    <option value="00">00</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <select class="start-minute front">
                                    <option value="" disable selected>minutes </option>
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4">
                            <p>Shifts End at:</p>
                            <div class="row">
                                <div class="input-field col s6">

                                    <select class="start-hour front">
                                        <option value="" disable selected>Hour</option>
                                        <option value="00">00</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                    </select>
                                </div>
                                <div class="input-field col s6">
                                    <select class="start-minute front">
                                        <option value="" disable selected>minutes </option>
                                        <option value="00">00</option>
                                        <option value="15">15</option>
                                        <option value="30">30</option>
                                        <option value="45">45</option>
                                    </select>
                                </div>
                                <div class="input-field col s4">
                                    <select class="start-minute front">
                                        <option value="am">AM</option>
                                        <option value="pm">PM</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <button
                            class="finish-location waves-effect waves-light btn blue-grey darken-1">Finished</button>
                    </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>
{{!-- LOCATION MODAL ENDS --}}

{{!-- EMPLOYEE MODAL BEGINS --}}
<div id="modal-employees" class="modal dark-border">
    <div class="modal-content alt-dark blue-grey-text text-darken-4">
        <h2 class="modal-header center">Add a new employee</h2>
        <form>
            <div class="row">
                <div class="input-field col s12">
                    <input id="employee-name" type="text" class="validate">
                    <label for="employee-name">Full name</label>
                </div>
                <div class="input-field col s12">
                    <input id="employee-email" type="text" class="validate">
                    <label for="employee-email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="employee-password" type="text" class="validate">
                    <label for="employee-password">Password</label>
                </div>
                {{!-- Address Information --}}
                <div class="input-field col s12">
                    <input class="location-street">
                    <label for="location-street">Street Address</label>
                </div>
                {{!-- Role and Status --}}
                <div class="input-field col s12">
                    <input id="employee-role" type="text" class="validate">
                    <label for="employee-role">Role</label>
                </div>
                <div class="input-field col s6">
                    <select id="employee-status" class="front">
                        <option value="employee">Employee</option>
                        <option value="manager">Manager</option>
                    </select>
                    <label for="employee-status">Status</label>
                </div>
                <div class="input-field col s6">
                    <select id="employee-positionType" class="front">
                        <option value="FT">Full-time</option>
                        <option value="PT">Part-time</option>
                    </select>
                    <label for="employee-positionType"> Position Type</label>
                </div>
            </div>
            {{!-- Weekly Availability --}}
            <h5 class="sub-header col s10 offset-2">Weekly Availability</h5>
            <div class="row">
                <div class="select-hours-minutes"></div>
            </div>
            <div class="center">
                {{!-- <button class="another-employee waves-effect waves-light btn blue-grey darken-1">Add
                Another Employee</button>
            <button class="finish-employee waves-effect waves-light btn blue-grey darken-1">Finished</button> --}}
                <button type="button" class="btn addEmployee-btn">Add Employee</button>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>
</div>
{{!-- employee modal ends --}}


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/add-employee.js"></script>
<script src="/js/schedule.js"></script>