body{
  background-color: #263238;
  /* background-image: url("../images/8.png"); */
  background-position: fixed;
}

.login-img{
  height: 100px;
}


.input-field>label{
  color: white;
}

.carousel .carousel-item>img{
  height: 100px;
  width: 220px;
}

.page{
  padding-top: 100px;
}

.long-page{
  padding-top: 6px;
}

.carousel-mid{
  width: 75%;
  margin: 0px auto;
  height: 75%;
}

.availability-select{
  border: none;
  margin: 10px 0;
}

.collapsible{
  border: none;
}

.next-btn{
  color: #69f0ae;
}

.dark{
  background-color: #263238;
}

.alt-dark{
  background-color: #37474f;
}

.mint{
  color: #69f0ae;
}

.white-text{
  color: white;
}

.altdark-text{
  color: #37474f;
}

.mint-dark-btn{
  color: #263238;
  font-weight: bold;
  background-color: #69f0ae;
}

.altdark-mint-btn{
  color: #69f0ae;
  font-weight: bold;
  background-color: #37474f;
}

.no-background-btn{
  background: none;
}

.border{
  border: solid 20px #69f0ae;
}

.dark-border{
  border: solid 10px #37474f
}

.list-group-item {
  line-height: 2.5;
}

.padding40{
  padding: 40px;
}

.margin100{
  margin-top: 100px;
}
.front {
  z-index: 5000;
}
.carousel{
  min-height: 600px;
}
.nav-wrapper{
  padding-left: 20px;
  padding-right: 20px;
}
.carousel-btn-div{
  position: absolute;
  bottom: 30px;
  left: 50%
}

#location-list, 
#employee-list, 
#schedule,
#emp-schedule,
#account-info, 
#request-off {
  display:none;
}

header, main, .footer-content, .adjusted-container, .adjusted-center {
  padding-left: 300px;
}

/* PARTIALS STYLES */

.partial-header {
  font-size: 1.5em;
}

.partial-main {
  font-weight: bold;
}

.partial-medium { 
  font-weight: bold; 
  text-transform: uppercase;
}

.partial-button{
  margin-top: 1em;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}