body{
  background-image: url("../images/8.png");
  background-position: fixed;
}

.list-group-item {
  line-height: 2.5;
}

.padding40{
  padding: 40px;
}

.margin100{
  margin-top: 100px;
}
.front {
  z-index: 5000;
}
.carousel{
  min-height: 550px;
}

#location-list, #employee-list, #schedule{
  display: none;
}

header, main, footer, .adjusted-container{
  padding-left: 300px;
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}