body{
  background-image: url("../images/8.png");
  background-position: fixed;
  /* background-size: 50%; */
  background-color: #b9f6ca;
}

.list-group-item {
  line-height: 2.5;
}

.padding40{
  padding: 40px;
}

.margin100{
  margin-top: 100px;
}
.front {
  z-index: 5000;
}
.carousel{
  min-height: 500px;
}


header, main, footer, .container{
  padding-left: 300px;
}
/* #new-employee-btn {
  position: absolute;
  right: 40px;
  top: 40px;
} */

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}