body{
  background-color: #263238;
  /* background-image: url("../images/8.png"); */
  background-position: fixed;
}

* {
  font-family: 'Rubik', sans-serif;
}

.login-img{
  height: 100px;
}

a, a:visited{
  color: #263238
}
a:hover{
  color: #37474f
}

.input-field>label{
  color: white;
  font-size: 1em;
}

.carousel .carousel-item>img{
  height: 100px;
  width: 220px;
}

.page{
  padding-top: 20%;
}

.long-page{
  padding-top: 10%;
}

.hide{
  display: none;
}

i{
  cursor: pointer;
}

.carousel {
  margin-top: 10%;
}

.carousel-mid {
  width: 90%;
  margin: 0px auto;
  height: 90%;
}

.carousel-mid .input-field {
  font-size: 1rem;
}

.carousel-mid .heading-carousel {
  font-size: 1.7rem;
}

.availability-select{
  border: none;
  margin: 10px 0;
}

.collapsible{
  border: none;
}

.next-btn i,
.prev-btn i {
  color: #69f0ae;
  font-size: 2.5rem;
}

#edit-btn {
  background-color: #b0bec5;
}

input {
  color: #fff;
}

.dark{
  background-color: #263238;
}

.alt-dark{
  background-color: #37474f;
}

.mint{
  color: #69f0ae;
}

.white-text{
  color: white;
}

.altdark-text{
  color: #37474f;
}

.lowercase{
  text-transform: lowercase;
}

.mint-dark-btn{
  color: #263238;
  font-weight: bold;
  background-color: #69f0ae;
  text-transform: uppercase;
}

.altdark-mint-btn{
  color: #69f0ae;
  font-weight: bold;
  background-color: #37474f;
  text-transform: uppercase;
}

.no-background-btn{
  background: none;
}

.border{
  border: solid 20px #69f0ae;
}

.dark-border{
  border: solid 10px #37474f
}

.list-group-item {
  line-height: 2.5;
}

.padding40{
  padding: 40px;
}

.margin100{
  margin-top: 100px;
}
.front {
  z-index: 5000;
}

/* CAROUSEL STYLES */
.carousel {
  min-height: 600px;
}

.nav-wrapper{
  padding-left: 20px;
  padding-right: 20px;
}
.carousel-btn-div{
  position: absolute;
  bottom: 10%;
  left: 45%
}

#location-list, 
#employee-list, 
#schedule,
#emp-schedule,
#account-info, 
#request-off {
  display:none;
}

header, main, .footer-content, .adjusted-container, .adjusted-center {
  padding-left: 300px;
}

/* MODALS STYLES */

.modal {
  border-radius: 1.5em;
}
.modal-long{
  min-width: 900px;
}

label {
  color: #fff;
}

.newWeekLabel {
  text-transform: uppercase;
  font-size: 1em;
}

.sub-header {
  color: #fff;
  font-size: 1.5em;
}

.new-day {
  border: solid #9fffe0 1px;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.employee-content-cap {
  text-transform: capitalize; 
}

.employee-content-up {
  text-transform: uppercase;
}

.addEmployee-btn {
  background-color: #9fffe0; 
  color: #263238;
}

.modal-header {
  font-size: 2.5em;
  color: #fff;
}

.partial-header {
  font-size: 1.5em;
}

.employee-list-name {
  font-size: 1em;
}

.partial-main {
  font-weight: bold;
}

.partial-medium { 
  font-weight: bold; 
  text-transform: uppercase;
}

.partial-button{
  margin-top: 1em;
}

.day-partial {
  font-size: 1em;
}

.time-partial {
  font-size: 1em; 
  font-weight: bold;
  text-transform: uppercase;
}

.profile-pic {
  font-size: 10em;
}

.contact {
  font-size: 1em; 
  font-weight: bold;
}

.section-head,
.employee-list-name {
  text-transform: capitalize;
}

.weekly-avail-header { 
  margin-bottom: 1em;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .modal-long{
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {

  .modal {
    position: absolute;
    left: 25%;
  }

  #employee-list {
    border-radius: 1.5em;
    margin-top: 4em;
  }



}