body{
  background-image: url("../images/8.png");
  background-position: fixed;
}

.list-group-item {
  line-height: 2.5;
}

.padding40{
  padding: 40px;
}

.margin100{
  margin-top: 100px;
}
.front {
  z-index: 5000;
}
.carousel{
  min-height: 500px;
}
.nav-wrapper{
  padding-left: 20px;
  padding-right: 20px;
}
.carousel-btn-div{
  position: absolute;
  bottom: 30px;
}

#location-list, #employee-list, #schedule{
  display: none;
}

header, main, .footer-content, .adjusted-container, .adjusted-center {
  padding-left: 300px;
}

/* PARTIALS STYLES */

.partial-header {
  font-size: 1.5em;
}

.partial-main {
  font-weight: bold;
}

.partial-button{
  margin-top: 1em;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}